<div class="header">
  <div class="right_section">
      <div class="header_name"> BlogX.io </div>
  </div>
  <div class="left_section">
      <img src="/images/developer.jpg" alt=" developer's picture " class="developer">
  </div>
</div>