<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Butcherman&family=Caveat&family=Kalam:wght@300&family=Libre+Baskerville&family=Montserrat:wght@400;600;700&family=Nosifer&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Butcherman&family=Caveat&family=DM+Sans:opsz@9..40&family=Kalam:wght@300&family=Libre+Baskerville&family=Montserrat:wght@400;600;700&family=Nosifer&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title>BlogX</title>
</head>
<body>
    <div class="content">

      <%- include(`partials/header.ejs`) %>

    
        <div class="main_content">
                <h1> Create your unique blog Post </h1>
                <p class="paragraph"> Keep track of all your activities here at Blogx.io. </p>
                <a href="/newpost" class="button"> Create a blog post </a>
        </div>
            
    </div>


    <ul>
        <% posts.forEach((post, index) => { %>
            <li><a href="/post/<%= index %>"><%= post.title %></a></li>
        <% }); %>
</ul>


<script src="/background.js"></script>
    
</body>
</html>
