<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Butcherman&family=Caveat&family=Kalam:wght@300&family=Libre+Baskerville&family=Montserrat:wght@400;600;700&family=Nosifer&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Butcherman&family=Caveat&family=DM+Sans:opsz@9..40&family=Kalam:wght@300&family=Libre+Baskerville&family=Montserrat:wght@400;600;700&family=Nosifer&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title> Create a new post </title>
    
</head>
<body>

    <div class="content">
        <%- include(`partials/header.ejs`) %>

        <div class="post_section">
            <h1 class="word">Create a New Post</h1>
            <form action="/post" method="post" class="form_section">
                <label for="title">Title:</label>
                <input class= "input" type="text" id="title" name="title" required>
                <br>
                <label for="content">Content:</label>
                <textarea class= "content_area" id="content" name="content" required></textarea>
                <br>
                <div class="button_container">
                    <button class="button_1" type="submit">Submit</button>
                </div>
              
            </form>
            <a href="/">Back to Home</a>
        </div>
    </div>

    
</body>
</html>
